#messenger {
	justify-content: space-between;
	padding: 0.75em;
	flex-grow: 2;
	background-color: var(--bg-gray);

	@media screen and (max-width: 800px) {
		margin: 1em 0;
	}

	#messenger-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		position: relative;

		& > .fa-icon {
			font-size: 2rem;
			color: var(--bg-main);
			right: 0;
			position: absolute;
			top: 0;
			cursor: pointer;
		}
	}

	// & > div {
	// 	flex-grow: 1;
	// }

	/*hr {
		border-top: 0.1rem solid #cfcfcf;
		width: 100%;
		margin-bottom: 0.5em;
	}*/

	#delete-chat {
		background-color: var(--success);
		border: none;
		padding: 0.25em;
		width: 7rem;
		color: white;
		border-radius: 1rem;
		cursor: pointer;
	}
}
