#chat-section {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(180deg, var(--bg-dark), var(--bg-main));

	.online-status {
		display: inline-block;
		border-radius: 50%;
		width: 1rem;
		height: 1rem;
	}

	.online {
		background-color: var(--success);
	}

	.offline {
		background-color: var(--danger);
	}
}

#chat-wrap {
	min-height: fit-content;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	padding: 1em 0.5em;

	@media (min-width: 800px) {
		padding: 0.75em 1em;
		flex-direction: row;
	}
}
