#msg-box {
	scroll-behavior: smooth;
	overflow-y: scroll;
	flex-grow: 2;
	margin: 0.5em 0;
	max-height: 40rem;

	.other-person {
		max-width: fit-content;
	}

	.loader {
		text-align: center;
	}

	.mt-5p {
		margin-top: 0.25em;
	}
}
