#navbar {
	display: flex;
	justify-content: space-between;
	height: 6rem;
	background-color: var(--bg-main);
	padding: 0 0.25em;

	& > h2 {
		display: flex;
		align-self: center;
		color: white;
	}

	.fa-icon {
		color: white;
		margin-left: 0.25em;
	}

	#profile-menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		position: relative;

		& > p {
			width: max-content;
			display: flex;
			align-self: center;
			color: white;
			margin: 0 0.25em;
		}

		& > img {
			display: flex;
			color: white;
			align-self: center;
			margin-right: 0.25em;
			border-radius: 1em;
			width: 4rem;
			height: 4rem;
			border: 1px solid #333;
			border-radius: 50%;
		}

		.fa-icon {
			* {
				color: white;
			}
		}

		#profile-options {
			position: absolute;
			top: 5rem;
			border-radius: 0.5rem;
			padding: 0 0.25em;
			right: 0.5rem;
			border: 0.1rem solid #d9d9d9;
			background-color: white;
			z-index: 9999;

			& > p {
				margin: 0.25em 0.25em;
				padding: 0.25em 0.25em;
				width: max-content;
				color: black;

				&:hover {
					background-color: #eee;
				}
			}
		}
	}
}
