#chat-header-wapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	max-height: 5rem;
	position: relative;

	hr {
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
	}
}

#chatter {
	overflow-y: auto;
	display: flex;
	text-align: left;

	h3 {
		margin: 0 0.5em 0 0;
	}

	.chatter-info {
		display: flex;
		margin-right: 0.5em;
		min-width: 8rem;
		padding: 0.5em 0;
	}

	.chatter-status {
		display: flex;
		align-items: center;
	}
}
