#chat-header-wapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	max-height: 7rem;
	position: relative;

	hr {
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
	}
}

#chatter {
	overflow-y: auto;
	display: flex;
	text-align: left;
	line-height: 2.4rem;

	h3 {
		margin-right: 0.25em;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}

	.chatter-info {
		display: flex;
		margin-right: 0.5em;
		min-width: fit-content;
		padding: 0.5em 0;
	}

	.chatter-status {
		display: flex;
		align-items: center;
	}
}
