.creator {
	justify-content: flex-end;

	.message {
		header,
		main {
			justify-content: flex-end;
		}

		footer {
			justify-content: flex-start;
		}
	}
}

.mb-5 {
	margin-bottom: 0.25em;
}

.mb-10 {
	margin-bottom: 0.5em;
}

.message {
	display: flex;
	align-items: center;
	padding-right: 0.25em;
	text-align: left;
	p {
		width: fit-content;
	}

	header,
	main,
	footer {
		width: 100%;
	}

	header {
		display: flex;
		align-items: center;

		.message-box-avatar {
			width: 3rem;
			height: 3rem;
			margin: 0;
		}

		h6 {
			margin: auto 0.25em;
		}
	}

	main {
		margin: 0.25em 0;
	}

	p {
		word-wrap: break-word;
		word-break: break-word;
		font-size: var(--small-size-text-3);
	}

	& > div {
		border-radius: 2rem;
	}

	.owner {
		background-color: var(--bg-main);
		color: white;
		padding: 0.5em;
	}

	.other-person {
		background-color: #ececec;
		padding: 0.5em;
	}

	.dots {
		margin: -0.25em 0 0.15em 0;
	}

	img {
		max-width: 20rem;
	}

	.date-and-time {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		* {
			font-weight: 600;
		}

		.date,
		.updatedAt,
		.createdAt,
		time {
			display: flex;
			align-items: baseline;
			justify-content: flex-end;
		}

		.updatedAt,
		.createdAt {
			* {
				font-size: 1rem;
			}
		}

		.date {
			* {
				font-size: 1.2rem;
			}
			margin: 0 0.0625em;
		}

		.time {
			* {
				font-size: 1.5rem;
				font-weight: 600;
			}
		}
	}
}
