#friends {
	display: flex;
	flex-direction: column;
	padding: 0.75em 0;
	background-color: #fff;
	margin-bottom: 1em;

	@media (min-width: 800px) {
		flex-grow: 1;
		margin-right: 2rem;
		max-width: 25rem;
		min-width: 25rem;
		margin-bottom: 0;
	}

	#title {
		display: flex;
		justify-content: space-between;
		padding: 0 0.5em;
		align-items: flex-end;

		button {
			border: none;
			background-color: var(--bg-main);
			color: white;
			width: 6rem;
			padding: 0.25em;
			border-radius: 1rem;
			cursor: pointer;
			font-weight: 600;
		}
	}

	hr {
		border-top: 0.1rem solid #cfcfcf;
		width: 100%;
		margin-bottom: 0;
	}

	#friends-box {
		overflow-y: auto;
		display: flex;
		text-align: left;

		@media (min-width: 800px) {
			flex-direction: column;
		}
	}

	#no-chat {
		padding: 0.5em;
	}

	.opened {
		background-color: #ececec;
	}

	#suggestions {
		margin-top: 0.5em;
		overflow-y: auto;
		max-height: 30rem;

		.suggestion {
			margin: 0.5em 0;
			padding: 0.25em;
			display: flex;
			justify-content: space-between;
			align-items: center;

			button {
				background-color: var(--success);
				border-radius: 1rem;
				border: none;
				height: 2.5rem;
				color: white;
				cursor: pointer;
			}
		}
	}
}
