@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --bg-dark: #4a148c;
  --bg-main: #793edd;
  --bg-light: #e2d6f8;
  --bg-gray: #f5f6f8;
  --success: #42b983;
  --success-dark: #318860;
  --danger: #b94242;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  min-height: fit-content;
  background-color: var(--bg-main);
}

#chat-app-main-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, var(--bg-dark), var(--bg-main));
}

.card-shadow {
  box-shadow: 0.3rem 0.3rem 1.5rem #333;
}

.card-shadow {
  -webkit-box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(64, 64, 64, 0.5);
  -moz-box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(64, 64, 64, 0.5);
  box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(64, 64, 64, 0.5);
}

.shadow-light {
  -webkit-box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(122, 122, 122, 0.2);
  -moz-box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(122, 122, 122, 0.2);
  box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(122, 122, 122, 0.2);
}

.border-radius-circle {
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

.border-radius-1rem {
  border-radius: 1rem;
}

.border-radius--half-1rem {
  border-radius: 0.5rem;
}

.margin-auto {
  margin: auto;
}

.text-align-center {
  text-align: center;
}

.element-container-theme-1 {
  height: 4rem;
  max-width: 30rem;
}

.element-theme-1 {
  height: 100%;
  width: 100%;
  border: none;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
  border-color: transparent;
  display: flex;
  align-items: center;
}

.form-theme-1 {
  padding: 1rem 2rem;
}
.form-theme-1 .form-element-theme-1 {
  margin: 0.5em auto;
}

.input-theme-1::placeholder {
  font-weight: 300;
  color: var(--bg-main);
}
.input-theme-1:focus::placeholder {
  color: #333;
}

.input-theme-1,
.select-theme-1 {
  background-color: #f2f2f2;
  font-weight: 600;
  color: #333;
  font-size: var(--small-size-text-3);
  transition: font-size 0.4s cubic-bezier(0.19, 1, 0.22, 1), font-weight 0.4s ease-in-out, border 0.4s cubic-bezier(0.075, 0.82, 0.165, 1), border-bottom 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-theme-1:focus,
.select-theme-1:focus {
  outline-color: var(--bg-light);
  background-color: var(--bg-light);
  color: #333;
  border-color: transparent;
  font-weight: 300;
  font-size: var(--normal-size-text-1);
  border-bottom: 0.3rem solid var(--bg-main);
}

.button-container-theme-1 {
  height: 4rem;
}

.button-container-theme-2 {
  height: 3.5rem;
}

.button-theme-1,
.button-theme-2,
.button-theme-3 {
  cursor: pointer;
  font-weight: 500;
  color: white;
  justify-content: center;
  text-align: center;
}
.button-theme-1:hover, .button-theme-1:focus,
.button-theme-2:hover,
.button-theme-2:focus,
.button-theme-3:hover,
.button-theme-3:focus {
  color: white;
}

.button-theme-1 {
  background-color: var(--bg-main);
  transition: all 0.2s ease-in;
}
.button-theme-1:hover, .button-theme-1:focus {
  background-color: var(--bg-dark);
}
.button-theme-1:focus {
  outline-color: var(--bg-main);
}

.button-theme-2 {
  background-color: var(--success);
  transition: all 0.1 0.8s ease-in;
}
.button-theme-2:hover, .button-theme-2:focus {
  background-color: var(--success-dark);
}
.button-theme-2:focus {
  outline-color: var(--success);
}

.button-theme-3 {
  color: white;
  background-color: var(--bg-dark);
  transition: all 0.2s ease-in;
}
.button-theme-3:hover, .button-theme-3:focus {
  color: var(--color-dark-1);
  background-color: var(--bg-main);
}
.button-theme-3:focus {
  outline-color: var(--bg-dark);
}

.hr-theme-1 {
  border: 0.15rem solid var(--bg-dark);
  background: var(--color-dark-3);
  padding: 0.1rem 0;
  width: 100%;
  margin: 0.25em 0;
}

.settings-menu-theme-1,
.settings-menu-theme-2 {
  position: absolute;
  border-radius: 0.5rem;
  padding: 0.25em 0em;
  border: 0.1rem solid #d9d9d9;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.settings-menu-theme-1 {
  top: 5.5rem;
  right: 0rem;
}

.settings-menu-theme-2 {
  right: 1.2rem;
  top: 0.8rem;
}

.settings-menu-item-theme-1 {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.1em 0.5em;
}
.settings-menu-item-theme-1 .fa-icon {
  position: relative;
  font-size: 2rem;
  color: var(--bg-main);
  margin-right: 0.25em;
  min-width: 1em;
  transition: all 0.2s ease-in;
}
.settings-menu-item-theme-1:hover .fa-icon {
  color: var(--bg-dark);
}
.settings-menu-item-theme-1:hover .settings-menu-item-title-theme-1 {
  background-color: #eee;
}

.settings-menu-item-title-theme-1 {
  width: 100%;
  min-width: max-content;
  padding: 0.25em 0.2em;
  transition: all 0.2s ease-in;
}

/*------------------------*/
.search-friends-modal .search-for-friends {
  padding: 0 0.5em;
}
.search-friends-modal .search-for-friends input {
  margin: 0.5em auto;
}
.search-friends-modal .suggestions .suggestion {
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-friends-modal .suggestions .suggestion:nth-child(1) {
  margin-top: 0.5em;
}
.search-friends-modal * {
  color: var(--color-dark-1);
}
.search-friends-modal * .button-theme-3 {
  color: white;
}
.search-friends-modal * .button-theme-3:focus, .search-friends-modal * .button-theme-3:hover {
  color: var(--color-dark-1);
}

/*------------------------*/
@media screen and (max-width: 800px) {
  :root {
    font-size: 55%;
  }
}

/*# sourceMappingURL=App.css.map */
