@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

:root {
	--bg-main: #793edd;
	--bg-light: #e2d6f8;
	--bg-dark: #4a148c;
}

body {
	font-family: 'Roboto', sans-serif;
}
