@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--bg-dark: #4a148c;
	--bg-main: #793edd;
	--bg-light: #e2d6f8;
	--bg-gray: #f5f6f8;
	--success: #42b983;
	--success-dark: #318860;
	--danger: #b94242;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	width: 100%;
	height: 100vh;
	min-height: fit-content;
	min-height: fit-content;
	background-color: var(--bg-main);
}

#chat-app-main-container {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, var(--bg-dark), var(--bg-main));
}

.card-shadow {
	box-shadow: 0.3rem 0.3rem 1.5rem #333;
}

.card-shadow {
	-webkit-box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(64, 64, 64, 0.5);
	-moz-box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(64, 64, 64, 0.5);
	box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(64, 64, 64, 0.5);
}

.shadow-light {
	-webkit-box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(122, 122, 122, 0.2);
	-moz-box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(122, 122, 122, 0.2);
	box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(122, 122, 122, 0.2);
}

.border-radius-circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

.user-select-none {
	user-select: none;
}

.border-radius-1rem {
	border-radius: 1rem;
}

.border-radius--half-1rem {
	border-radius: 0.5rem;
}

.margin-auto {
	margin: auto;
}

.text-align-center {
	text-align: center;
}

.element-container-theme-1 {
	height: 4rem;
	max-width: 30rem;
}

.element-theme-1 {
	height: 100%;
	width: 100%;
	border: none;
	padding: 0.25em 0.5em;
	box-sizing: border-box;
	border-color: transparent;
	display: flex;
	align-items: center;
}

.form-theme-1 {
	padding: 1rem 2rem;

	.form-element-theme-1 {
		margin: 0.5em auto;
	}
}

.input-theme-1 {
	&::placeholder {
		font-weight: 300;
		color: var(--bg-main);
	}
	&:focus {
		&::placeholder {
			color: #333;
		}
	}
}

.input-theme-1,
.select-theme-1 {
	background-color: #f2f2f2;
	font-weight: 600;
	color: #333;
	font-size: var(--small-size-text-3);
	transition: font-size 0.4s cubic-bezier(0.19, 1, 0.22, 1),
		font-weight 0.4s ease-in-out,
		border 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
		border-bottom 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:focus {
		outline-color: var(--bg-light);
		background-color: var(--bg-light);
		color: #333;
		border-color: transparent;
		font-weight: 300;
		font-size: var(--normal-size-text-1);
		border-bottom: 0.3rem solid var(--bg-main);
	}
}

.button-container-theme-1 {
	height: 4rem;
}

.button-container-theme-2 {
	height: 3.5rem;
}

.button-theme-1,
.button-theme-2,
.button-theme-3 {
	cursor: pointer;
	font-weight: 500;
	color: white;
	justify-content: center;
	text-align: center;

	&:hover,
	&:focus {
		color: white;
	}
}

.button-theme-1 {
	background-color: var(--bg-main);
	transition: all 0.2s ease-in;

	&:hover,
	&:focus {
		background-color: var(--bg-dark);
	}

	&:focus {
		outline-color: var(--bg-main);
	}
}

.button-theme-2 {
	background-color: var(--success);
	transition: all 0.1.8s ease-in;

	&:hover,
	&:focus {
		background-color: var(--success-dark);
	}

	&:focus {
		outline-color: var(--success);
	}
}

.button-theme-3 {
	color: white;
	background-color: var(--bg-dark);
	transition: all 0.2s ease-in;

	&:hover,
	&:focus {
		color: var(--color-dark-1);
		background-color: var(--bg-main);
	}

	&:focus {
		outline-color: var(--bg-dark);
	}
}

.hr-theme-1 {
	border: 0.15rem solid var(--bg-dark);
	background: var(--color-dark-3);
	padding: 0.1rem 0;
	width: 100%;
	margin: 0.25em 0;
}

@media screen and (max-width: 800px) {
	:root {
		font-size: 55%;
	}
}
