#input-container {
	position: relative;

	.mb-5p {
		margin-bottom: 0.25em;
	}

	.mb-10p {
		margin-bottom: 0.5em;
	}

	textarea {
		border: none;
		background-color: #f5f6f8;
		padding: 0.5em;
	}

	.icons-holder {
		.fa-icon {
			margin: 0 0.2em;
			cursor: pointer;
		}
	}

	section {
		&.emoji-mart {
			&.emoji-mart-light {
				.emoji-mart-scroll {
					height: 15rem;
				}

				.emoji-mart-preview-data {
					line-height: 1.5rem !important;
					* {
						line-height: 1.5rem !important;
					}
				}
				.emoji-mart-preview {
					height: 8rem !important;
				}
				.emoji-mart-preview-skins {
					right: 1rem !important;
					top: 5.5rem !important;
					bottom: unset !important;
				}
			}
		}
	}
}

#image-upload-container {
	display: flex;
	justify-content: space-between;
	padding: 0.125em 0.125em 0.125em 0;
	position: relative;

	.image-upload {
		width: 100%;
		.image-details {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 100%;

			p {
				max-width: 12rem;
				margin: 0 0.1em;
				overflow: hidden;
				text-overflow: ellipsis;
				word-wrap: unset;
				word-break: keep-all;
			}
		}
	}

	/*.message-notification {
		display: flex;
		cursor: pointer;
		border: 0.1rem solid var(--bg-main);
		border-radius: 0.75em;
		padding: 0.25em;

		.image-details {
			padding: 0.1em;
			border: 0.1rem solid black;
			margin-right: 0.25em;
			display: flex;
			align-items: center;
		}
	}*/
}
#message-input {
	--border-radius: 0.5rem;
	position: relative;
	display: flex;
	align-items: center;
	background-color: var(--bg-light);
	border-radius: var(--border-radius);

	textarea {
		outline-color: var(--bg-light);
		border: 0.3rem solid var(--bg-light);
		width: 100%;
		min-height: 5rem;
		min-width: 80%;
		max-height: 15rem;
		max-width: 20rem;
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
	}

	.icons-holder {
		height: 100%;
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}

#chat-image {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.notifications {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	transform: translateY(-100%);
	z-index: 9;
	.message-notification,
	.senderTyping {
		width: fit-content;
		background-color: var(--bg-main);
		padding: 0.15em 0.25em;
		border-radius: 1rem;
	}
}
